.main-slider .slide {
    position: absolute;
}

.main-slider .slide {
    opacity: 0;
    transition: opacity .5s ease-in;
}

.slide.active {
    opacity: 1;
}

.popup-menu.show {
    display: flex;
}

.top-menu.fixed {
    position: fixed;
    width: 100%;
}

header .head .club-select .clubs-list ul.show {
    display: block;
}

.gallery-slider {
    position: relative;
}

.gallery-slider .slide {
    display: none;
    opacity: 0;
}

.gallery-slider .slide.active {
    display: block;
    opacity: 1;
}

.dots {
    position: absolute;
    left: -50%;
    transform: translateX(50%);
    width: 100%;
    bottom: 25px;
    display: flex;
    justify-content: center;
}

.dot {
    width: 30px;
    height: 4px;
    margin: 0 8px;
    background-color: #fff;
    border-radius: 4px;
}

.dot-active {
    background-color: #ffd11a;
}

.arrows {
    position: absolute;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.arrow-item {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #ffd11a;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.arrow-right {
    background-image: url("../images/arrow-right.png");
}

.arrow-left {
    background-image: url("../images/arrow-left.png");
}

.gallery-slider .arrows {
    top: 50%;
    transform: translateY(-50%);
}

.services-slider {
    position: relative;
    padding: 0;
}

.slide-btn {
    position: absolute;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 50px;
    left: 0;
}

.slide-btn__item {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #ffd11a;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
}

.slide-btn__item--prev {
    background-image: url("../images/arrow-left.png");
}

.slide-btn__item--next {
    background-image: url("../images/arrow-right.png");
}

.popup form {
    height: 100%;
}

.form-content .message-form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    font-size: 18px;
    color: #fff;
}

.popup .message-form {
    max-width: 70%;
    margin: 15px auto 0;
}

.form-content__wrap.hidden {
    display: none;
}

.form-content__wrap.hidden ~ .message-form {
    margin-top: 65px;
}

#thanks .message-form {
    min-height: 60%;
}

body {
    position: relative;
}

.toast {
    position: fixed;
    display: none;
    top: 50%;
    right: 50%;
    transform: translateX(50%) translateY(-50%);
    padding: 16px 32px;
    background-color: rgba(73,167,100,.9);
    z-index: 3000;
    border-radius: 8px;
    border: 1px solid #49a764
}

.toast.error {
    background-color: rgba(212,99,125,.9);
    border-color: #d4637d;
}

.toast.show {
    display: block;
}